﻿@{
    ViewBag.Title = "Home Page";
    <script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
}

 <textarea id="chatWindow" style="width:400px;height:200px">
 </textarea>
 <div>
    <label>Message</label>
    <input type="text" id="messageTextBox" />
    <button id="sendButton" class="btn-success">Send</button>
</div>
 <script type="text/javascript">
     $(function () {
         var connection = $.connection("/chat");
         connection.start().done(function () {
             $("#chatWindow").val("Connected\n");
             $("#sendButton").click(function () {
                 connection.send($("#messageTextBox").val());
                 $("#messageTextBox").val("");
             });
             connection.received(function (data) {
                 $("#chatWindow").val($("#chatWindow").val()+data+"\n");
             });
         });
     });
 </script>