﻿
@{
    ViewBag.Title = "Index";
     <script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
 }

<h2>Index</h2>

 <table>
     <tr>
         <td>
             <select id="chatRoomsList" size="2" style="width:150px;height:206px">
             </select>
         </td>
         <td>
             <textarea id="chatWindow" style="width:400px;height:200px;"></textarea>
             <div>
                 <label>Message</label>
                 <input type="text"  id="messageTextBox"/>
                 <button id="sendButton">Send</button>
             </div>
             <div>
                 <label>Start new chat room</label>
                 <input type="text" id="chatRoomTextBox" />
                 <button id="createChatRoomButon">Create</button>
             </div>
         </td>
     </tr>
 </table>
 <script type="text/javascript">
     var currentChatRoom = "Lobby";
     function addMessageToChatWindow(message) {
         $("#chatWindow").val($("#chatWindow").val() + message + "\n");
     }
     function addChatRoomToList(chatRoom) {
          $('#chatRoomList').append($('<option value='+chatRoom+'>'+chatRoom+'</option>'))
     }
     $(document).ready(function () {
         var chat = $.connection.chat;
         chat.client.addChatRoom = function (chatRoom) {
             addChatRoomToList(chatRoom);
             if (chatRoom == currentChatRoom) {
                 $('#chatRoomList').val(currentChatRoom);
                 addMessageToChatWindow("Welcome to " + currentChatRoom);
             }
         }
         chat.client.addMessage = function (room,message) {
             if (room == currentChatRoom)
                 addMessageToChatWindow(message);
             
         }
        

         $.connection.hub.start().done(function () {
             $('#chatWindow').val('Connected...');
             chat.server.join("Lobby");

             $('#sendButton').click(function () {
                 chat.server.send(currentChatRoom, $('#messageTextBox').val());
                 $('#messageTextBox').val('');
             });

             $('#createChatRoomButton').click(function () {
                 chat.server.createChatRoom($('#chatRoomTextBox').val());
                 $('#chatRoomTextBox').val(' ');
             });
         });
     });
 </script>

