﻿@{
    ViewBag.Title = "Home Page";
    <script src="~/Scripts/jquery.signalR-2.0.1.min.js"></script>
    <script src="/signalr/hubs" type="text/javascript"></script>
}

<textarea id="chatWindow" style="width:400px;height:200px"></textarea>
<div>
    <label>Message</label>
    <input type="text" id="messageTextBox" />
    <button id="sendButton" class="btn-success">Send</button>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var chat = $.connection.chat;
        chat.client.addMessage = function (message) {
            $("#chatWindow").val($("#chatWindow").val() + message + "\n");
        }

        $("#sendButton").click(function () {
            chat.server.send($("#messageTextBox").val());
            $.connection.hub.start().done(function () {
            $("#chatWindow").val("Connected\n");
        });

        });
    });
</script>